<h1>Backoffice::Dashboard#index</h1>
<p>Find me in app/views/backoffice/dashboard/index.html.erb</p>
<%= link_to "sair", destroy_admin_session_path, method: :delete %>
<iframe src="/ui" style="width: 100%; height: 500px;"></iframe>